.main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  margin-left: 100px;
}
.signup-container {
}

.signup-col {
  padding: 20px;
}

.signup-image {
  max-width: 100%;
  height: auto;
}

.image-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  transition: none;
}
